<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dispositivosmoviles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/DispositivosMoviles"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DispositivosMoviles">
        <activity android:name=".NavBarActivity"></activity>
        <activity android:name=".CrearreservacionClientActivity" />
        <activity android:name=".ReserveClientActivity" />
        <activity android:name=".ListadereserAdminActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.ListOfChatsAdminActivity" />
        <activity android:name=".activities.ListOfChatsActivity" />
        <activity android:name=".MainClientActivity" />
        <activity android:name=".ReservacionAdminActivity" />
        <activity android:name=".ReserveAdminActivity" />
        <activity android:name=".MainAdminActivity" />
        <activity android:name=".RestablecerActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>